.nav > li {
    @extend .nav-item;
  }

  .nav > li > a {
    @extend .nav-link;
    font-weight: 600;
  }

.navbar__claim-row {
  position: relative;
}

.navbar__claim {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}