nav.navbar
  .container
    .d-flex.align-items-center.w-100.navbar__claim-row
      = link_to root_path, class: 'navbar-brand'
        = image_tag "fakturaonline_logo.svg", alt: t('.logo_alt'), width: t('.logo_width'), height: t('.logo_height')

      .navbar__claim = t('.free_in_30_seconds_html')

